#!/usr/bin/env bash

# `aliases` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`

alias git='LANG=en_US git'

# === Aliases ===

# Show local ip:
alias localip="ipconfig getifaddr en0"

# Bell when the program is finished. It is useful for some
# time-consuming operations. Like:
# > npm install | a
alias a="terminal-notifier -sound default"

# Just show the notification without context:
# > poetry install && aa
alias aa="a -message Done"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Copy public key to clipboard:
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# Digital ocean vps
alias vps='ssh jonwalstedt@128.199.54.176'

# Neovim
alias v='NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim'
alias v.='NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim .'
alias vl='NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim -u ~/.config/nvim/init-light.vim'
alias vl.='NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim -u ~/.config/nvim/init-light.vim .'
alias vm='NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim -u ~/.config/nvim/init-nvim-lsp.vim'
alias vm.='NVIM_TUI_ENABLE_TRUE_COLOR=1 nvim -u ~/.config/nvim/init-nvim-lsp.vim .'

alias th='cat ~/repos/dev-tools/terminal/terminal-cheatsheet/README.md'

alias fzfh='cat ~/repos/dotfiles/shell/help/fzf.md'

alias tree='tree -C'

alias tabs='~/repos/jonwalstedt/chrome-control/chrome.js focusByTitle "$(~/repos/jonwalstedt/chrome-control/chrome.js titles | fzf --bind change:top)"'

alias closeTabs='~/repos/jonwalstedt/chrome-control/chrome.js close --title'

weeknumber=`date +%V`
alias vecka="figlet -c $weeknumber"

alias datum="figlet -c 'v$weeknumber' && date +'%Y-%m-%d' | figlet -c && date +'%H:%M:%S' | figlet -c"
alias idag=datum
