#!/usr/bin/env bash

# `exports` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`


# === Path modifications ===

# These lines should be the first ones

# GPG agent:
PATH="/usr/local/opt/gpg-agent/bin:$PATH"
PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
export PATH

# === General ===

# Homebrew:
export HOMEBREW_NO_ANALYTICS=1  # disables statistics that brew collects

# === Version managers ===

# nvm:
export NVM_DIR="$HOME/.nvm"
# source "/usr/local/opt/nvm/nvm.sh"

# jenv:
export PATH="$HOME/.jenv/bin:$PATH"
if which jenv > /dev/null; then eval "$(jenv init -)"; fi

# === FZF ===
export FZF_DEFAULT_OPTS="
--layout=reverse
--info=inline
--height=80%
--multi
--history=$HOME/.fzf_history
--preview-window=:hidden
--preview '([[ -f {} ]] && (bat --style=numbers --color=always {} || cat {})) || ([[ -d {} ]] && (tree -C {} | less)) || echo {} 2> /dev/null | head -200'
--color='hl:148,hl+:154,pointer:032,marker:010,bg+:237,gutter:008'
--prompt='∼ ' --pointer='▶' --marker='✓'
--bind '?:toggle-preview'
--bind 'ctrl-a:select-all'
--bind 'ctrl-y:execute-silent(echo {+} | pbcopy)'
--bind 'ctrl-e:execute(echo {+} | xargs -o vim)'
--bind 'ctrl-v:execute(code {+})'
--bind change:top
"
export FZF_DEFAULT_COMMAND="fd --hidden --follow --exclude '.git' --exclude 'node_modules' --exclude 'Library'"
export FZF_ALT_C_COMMAND='blsd'
# To apply the command to CTRL-T as well
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

#for more info see fzf/shell/completion.zsh
_fzf_compgen_path() {
    fd . "$1"
}
_fzf_compgen_dir() {
    fd --type d . "$1"
}

# === SSH KEY ===

export SSH_KEY_PATH="~/.ssh/dsa_id"

# === JAVA ===

alias java11='export JAVA_HOME="/Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home" && echo "Now using java 11"'
alias java14='export JAVA_HOME="/Library/Java/JavaVirtualMachines/openjdk-14.0.2.jdk/Contents/Home" && echo "Now using java 14"'
alias java15='export JAVA_HOME="/Library/Java/JavaVirtualMachines/adoptopenjdk-15.jdk/Contents/Home" && echo "Now using java 15"'

# === GO ===

export GOPATH=$HOME/go

# === Neovim ===
# Neovim true color support
export NVIM_TUI_ENABLE_TRUE_COLOR=1

# Neovim cursor shape support
export NVIM_TUI_ENABLE_CURSOR_SHAPE=1

# To Avoid: JavaScript heap out of memory
export NODE_OPTIONS=--max-old-space-size=8192

# mysql
export PATH="/usr/local/opt/mysql@5.7/bin:$PATH"
