#!/usr/bin/env bash

# `exports` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`


# === Path modifications ===

# These lines should be the first ones

# GPG agent:
PATH="/usr/local/opt/gpg-agent/bin:$PATH"
PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
export PATH

# === General ===

# Homebrew:
export HOMEBREW_NO_ANALYTICS=1  # disables statistics that brew collects

# === Version managers ===

# nvm:
export NVM_DIR="$HOME/.nvm"
# source "/usr/local/opt/nvm/nvm.sh"

# jenv:
export PATH="$HOME/.jenv/bin:$PATH"
if which jenv > /dev/null; then eval "$(jenv init -)"; fi

# === FZF ===
export FZF_DEFAULT_OPTS=" --layout=reverse"
export FZF_DEFAULT_COMMAND="fd --hidden --follow --exclude '.git' --exclude 'node_modules' --exclude 'Library'"
export FZF_ALT_C_COMMAND='blsd'
# To apply the command to CTRL-T as well
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"

#for more info see fzf/shell/completion.zsh
_fzf_compgen_path() {
    fd . "$1"
}
_fzf_compgen_dir() {
    fd --type d . "$1"
}

# === SSH KEY ===

export SSH_KEY_PATH="~/.ssh/dsa_id"

# === JAVA ===

#export JAVA_8_HOME=$(/usr/libexec/java_home -v1.8)
#export JAVA_11_HOME=$(/usr/libexec/java_home -v11)
#export JAVA_HOME=${JAVA_11_HOME}
#
#alias java8="export JAVA_HOME=${JAVA_8_HOME}"
#alias java11="export JAVA_HOME=${JAVA_11_HOME}"

# alias java11='export JAVA_HOME="/Library/Java/JavaVirtualMachines/adoptopenjdk-11.jdk/Contents/Home" && echo "Now using java 11"'

# Now using sdkman instead https://sdkman.io/
# sdk list java
# sdk install java <version>
# sdk use java <version> (only in current terminal)
# sdk default java <version> (setting system default)

# === GO ===

export GOPATH=$HOME/go

# === Neovim ===
# Neovim true color support
export NVIM_TUI_ENABLE_TRUE_COLOR=1

# Neovim cursor shape support
export NVIM_TUI_ENABLE_CURSOR_SHAPE=1

# To Avoid: JavaScript heap out of memory
export NODE_OPTIONS=--max-old-space-size=8192

# mysql
export PATH="/usr/local/opt/mysql@5.7/bin:$PATH"

# llvm/clang
export PATH="/usr/local/opt/llvm/bin:$PATH"

# bin
export PATH="$HOME/bin:$PATH"

export CC="gcc-11"

# Script Kit
export PATH=$HOME/.kenv/bin:$PATH

#python
export PATH=$(pyenv root)/shims:$PATH
export CLOUDSDK_PYTHON=/usr/bin/python3
export PATH="~/Library/Python/3.9/bin:$PATH"

#c
export CC=/usr/bin/clang

