[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
[submodule "dotbot-pip"]
  path = dotbot-pip
  url = https://github.com/sobolevn/dotbot-pip.git
[submodule "mac-cli"]
  path = mac-cli
  url = https://github.com/guarinogabriel/Mac-CLI.git
